@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Let the main content area grow and push the footer down */
.content {
  flex: 1;
  min-height: 100vh
}


.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
}

nav a {
  font-family: "Karla", sans-serif;
  font-style: medium;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

nav a:hover {
  color: #f4ce14;
}


.home-top {
  display: flex;
  background-color: #495E57;
  align-items: center;
  justify-content: space-evenly;


}
.home-top h2 {
  margin-top: 0px;

}

.home-description {
  color: #EDEFEE;
}

.home-top img {
  margin-top: 2%;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: 10px;

}



.brand-name {
  font-family: "Markazi Text", sans-serif;
  color: #f4ce14;
  margin-bottom: 0px;
  font-weight: 100pt;
  font-size: 4rem;
  letter-spacing:0;
  margin-top: 2%;
}

p {
  font-family: "Karla", sans-serif;
  font-style: regular;
}

button {
  background-color: #f4ce14;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #EE9762;
}

.specials-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;

}


.specials-header h1 {
  margin-right: 37%;
}

.dish-list {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.dish {
  background-color: #EDEFEE;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  
}


.dish img {
  width: 100%;
  height: 30%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dish a {
  display: inline-flex;
  text-decoration: None;
  position:sticky;
  bottom: 0;
  color: #333333;
  font-weight: bold;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 2px;
  width: 90%;


}

.dish a:hover {
  color: #f4ce14;
}

.dish-heading {
  display: flex;
  justify-content: space-between;
  width: 90%;

}

.dish-heading p:first-of-type {
  font-weight: bolder;
}


.dish-description {
  display: flex;
  text-align:left;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}



.testimonials h1{
  text-align: center;

}

.testimonial-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.testimonial-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-avatar img {
  width: 10%;
}

.home-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20%;
  margin-top: 40px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}


.restaurant-images {
  position: relative;
  height: 400px;
}

.restaurant-images img {
  position: absolute;
  width: 300px;
  height: auto;
}

.restaurant-images img:first-child {
  top: 175px;
  left: -150px;
  z-index: 1;
}

.restaurant-images img:last-child {
  top: 145px;
  left: -100px;
  z-index: 2;
}



footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #495E57;
  color: #EDEFEE;
  padding: 1rem;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-navigation a {
  font-family: "Karla", sans-serif;
  font-style: medium;
  text-decoration: none;
  color: #333333;
}

.footer-navigation a:hover {
  color: #f4ce14;
}

.footer-contact {
  gap: 10px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-socials a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-style: medium;
  color: #333333;
}

.footer-socials a:hover {
  color: #f4ce14;
}

.social-icon {
  font-size:large;}

.booking {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 100%;
}



.booking form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.booking input, select {
  margin-bottom: 10px;
}

.booking-confirmation {
  padding-left: 10px;
  padding-right: 10px;
}

/* Tablet: 8-column layout */


/* Phone: 4-column layout */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stacks elements vertically */
  }
  .home-top{
    flex-direction: column;
  }
  .dish-list{
    flex-direction: column;
  }
  .dish {
    width: auto;
    max-width: none;
  }
  .testimonial-list {
    flex-direction: column;
  }
  .testimonial {
    width: auto;
    max-width: none;
  }
  .home-bottom {
    flex-direction: column;
  }
  .restaurant-images {
    flex-direction: column; /* Stack images vertically */
    height: auto; /* Remove the fixed height for stacking */
    justify-content: space-evenly;
    align-items: center;
  }

  .restaurant-images img {
    position: relative; /* Reset position so the images stack */
    width: 100%; /* Ensure they take full width of the container */
    margin-bottom: 10px; /* Optional: Add spacing between images */

  }

  .restaurant-images img:first-child,
  .restaurant-images img:last-child {
    position: relative; /* Remove absolute positioning */
    top: auto;
    left: auto;
    z-index: auto; /* Reset z-index */
  }
  footer{
    flex-direction: column;
    align-items:center;
  }
}